[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
spicy = "*"
ipykernel = "*"
requests = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
nltk = "*"
gensim = "*"

[dev-packages]

[requires]
python_version = "3.12"
